<a href="https://colab.research.google.com/github/ShareAndShine/DevOpsPOC/blob/master/Online_Shoppers_Intention.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# Read data
path = '/gdrive/My Drive/Online_ML : Aug 2021/data/'
data = pd.read_csv(path+'online_shoppers_intention.csv');
data.head()

   Administrative  Administrative_Duration  ...  Weekend  Revenue
0               0                      0.0  ...    False    False
1               0                      0.0  ...    False    False
2               0                      0.0  ...    False    False
3               0                      0.0  ...    False    False
4               0                      0.0  ...     True    False

[5 rows x 18 columns]

In [4]:
data.describe()

       Administrative  Administrative_Duration  ...        Region   TrafficType
count    12330.000000             12330.000000  ...  12330.000000  12330.000000
mean         2.315166                80.818611  ...      3.147364      4.069586
std          3.321784               176.779107  ...      2.401591      4.025169
min          0.000000                 0.000000  ...      1.000000      1.000000
25%          0.000000                 0.000000  ...      1.000000      2.000000
50%          1.000000                 7.500000  ...      3.000000      2.000000
75%          4.000000                93.256250  ...      4.000000      4.000000
max         27.000000              3398.750000  ...      9.000000     20.000000

[8 rows x 14 columns]

In [5]:
# Review the data and label encode input features that can be categorized (remember we cannot work with text)

from sklearn.preprocessing import LabelEncoder

Month_encoder = LabelEncoder()
data['Month'] =  Month_encoder.fit_transform(data['Month'])

VisitorType_encoder = LabelEncoder()
data['VisitorType'] =  VisitorType_encoder.fit_transform(data['VisitorType'])

Weekend_encoder = LabelEncoder()
data['Weekend'] =  Weekend_encoder.fit_transform(data['Weekend'])

Revenue_encoder = LabelEncoder()
data['Revenue'] =  Revenue_encoder.fit_transform(data['Revenue'])

In [6]:
data

       Administrative  Administrative_Duration  ...  Weekend  Revenue
0                   0                      0.0  ...        0        0
1                   0                      0.0  ...        0        0
2                   0                      0.0  ...        0        0
3                   0                      0.0  ...        0        0
4                   0                      0.0  ...        1        0
...               ...                      ...  ...      ...      ...
12325               3                    145.0  ...        1        0
12326               0                      0.0  ...        1        0
12327               0                      0.0  ...        1        0
12328               4                     75.0  ...        0        0
12329               0                      0.0  ...        1        0

[12330 rows x 18 columns]

In [10]:
# Split output and input 
ycol = data['Revenue'] # output
xcol = data.drop(columns=['Revenue']) #input 
xcol.columns

Index(['Administrative', 'Administrative_Duration', 'Informational',
       'Informational_Duration', 'ProductRelated', 'ProductRelated_Duration',
       'BounceRates', 'ExitRates', 'PageValues', 'SpecialDay', 'Month',
       'OperatingSystems', 'Browser', 'Region', 'TrafficType', 'VisitorType',
       'Weekend'],
      dtype='object')

In [11]:
# Covert input features and output into an array
x = np.array(xcol)
y = np.array(ycol)
x.shape, y.shape

((12330, 17), (12330,))

In [12]:
# Spilt train and test data

from sklearn.model_selection import train_test_split #use this lib to split records into train and test and use it for model prediction accuracy. This is a general appraoch followed in ML
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25, random_state=2) # test_size = 0.25 is used to take 25% of overall data for testing. random_state will pick random rows for test and train
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((9247, 17), (3083, 17), (9247,), (3083,))

**Implement Logistic Regression**

In [15]:
from sklearn.linear_model import LogisticRegression # import package

log_reg = LogisticRegression(max_iter = 1000)
log_reg = log_reg.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [16]:
# predict with test data

yt_pred_log_reg = log_reg.predict(x_test)

# import accuracy score package
from sklearn.metrics import classification_report, accuracy_score # import package
print('**** Classification Report - Logistic Regression ****')
print(classification_report(y_test, yt_pred_log_reg))

# calculate accuracy
ac = accuracy_score(y_test, yt_pred_log_reg)
print('Test data accuracy {0}'.format(ac *100))

**** Classification Report ****
              precision    recall  f1-score   support

           0       0.90      0.97      0.94      2639
           1       0.71      0.36      0.48       444

    accuracy                           0.89      3083
   macro avg       0.80      0.67      0.71      3083
weighted avg       0.87      0.89      0.87      3083

Test data accuracy 88.67985728186831

**Implement Naive Byes Alogorithum**

In [17]:
from sklearn.naive_bayes import ComplementNB
NB_comp = ComplementNB()
NB_comp = NB_comp.fit(x_train, y_train)

y_pred_NB_comp = NB_comp.predict(x_test)

# Print Classification report between test output and NB predicted values
from sklearn.metrics import classification_report
print('**** Classification Report - Naive Bayes ****')
print(classification_report(y_test, y_pred_NB_comp))

**** Classification Report ****
              precision    recall  f1-score   support

           0       0.93      0.92      0.93      2639
           1       0.55      0.62      0.59       444

    accuracy                           0.87      3083
   macro avg       0.74      0.77      0.76      3083
weighted avg       0.88      0.87      0.88      3083

**Implement Decision Tree**

In [25]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier(criterion = 'gini')

dtree.fit(x_train, y_train)

y_pred_dtree = dtree.predict(x_test)

# Print Classification report between test output and NB predicted values
from sklearn.metrics import classification_report
print('**** Classification Report - Decision Tree ****')
print(classification_report(y_test, y_pred_dtree))

**** Classification Report ****
              precision    recall  f1-score   support

           0       0.93      0.91      0.92      2639
           1       0.53      0.59      0.56       444

    accuracy                           0.87      3083
   macro avg       0.73      0.75      0.74      3083
weighted avg       0.87      0.87      0.87      3083